<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<div layout:fragment="content">
    <h1>메인페이지입니다.</h1>
    <hr/>
    <h3>하고 있는 내용</h3>
    <p>회원 가입 </p>
    <p>회원 로그인</p>
    <p>게시물 작성</p>
    <p>게시물 수정</p>
    <p>내 게시물 보기</p>
    <p>조회수 카운트</p>
    <p>게시물 페이징</p>
    <p>좋아요 기능</p>
    <p>내 게시물 삭제
    <p>https://www.notion.so/b47b0f663705478b9be3a3623bd9cf6e</p>
    http://localhost:8080/members/login/naver

</div>

</html>